:root {    
    --color-bg: #282828; 
    --color-text: #ebdbb2;
    --color-tagbg: #555;
    --color-hoverbg: #555;
    --color-easy: #00ba38;
    --color-medium: #d38900;
    --color-hard: #d71600;
    --color-darktext: #a3987c;
    --color-buttonborderthickness: 2px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--color-text);
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--color-text);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--color-bg);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color-text);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-hoverbg);
  }

#header {
    width: 100%;
}

#header h1 {
    display:inline;
}

.title::selection { background: transparent; }
.title::-moz-selection { background: transparent; }

#header .theme-toggle {
    display:inline;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

.theme-toggle-button {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-radius: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: var(--color-buttonborderthickness) solid var(--color-text);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.theme-toggle-button:hover {
    background-color: var(--color-tagbg);
  }
  
.theme-toggle-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.theme-toggle-button:focus-visible {
    box-shadow: none;
}

input {
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    color: var(--color-text);
}

select {
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    color: var(--color-text);
}

textarea {
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    color: var(--color-text);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
    max-width:1000px;
    font-size:x-large;
    color: var(--color-text);
    background-color: var(--color-bg);
}

.overview-title {
    color: var(--color-text); text-decoration: none;
}

.link {
    color: var(--color-text);
}

.content {
    margin: 2%;
    margin-right: auto;
}

.difficulty {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.easy {
    color: var(--color-easy);
}

.medium {
    color: var(--color-medium);
}

.hard {
    color: var(--color-hard);
}

.code {
    width: 100%;
    border-radius: 15px;
    border: var(--color-buttonborderthickness) dashed var(--color-text);
    padding: 15px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.language-solutions-combined {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    /* border-radius: 15px; */
    /* padding: 15px; */
}

.language {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.date {
    font-size: large;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.solution-date {
    font-size: large;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    color: var(--color-darktext);
}

.tag {
    background-color: var(--color-tagbg);
    border: 10;
    border-radius: 30px;
    font-size: large;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    top: -5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
    margin-top: 10px;
}

.tags {
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.language-tag {
    background-color: var(--color-tagbg);
    border: 10;
    border-radius: 30px;
    font-size: large;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
    top: -5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
    margin-top: 10px;
}

.languages {
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.tab-button {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: var(--color-buttonborderthickness) solid var(--color-text);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.tab-button-active {
    background-color: var(--color-bg);
    color: var(--color-text);
    border: calc(2*var(--color-buttonborderthickness)) solid var(--color-text);
    border-radius: 10px;
    padding: calc(10px - var(--color-buttonborderthickness));
    /* padding: 10px; */
    margin-right: 10px;
}

.tab-button:hover {
    background-color: var(--color-tagbg); /*rgb(239, 239, 239);*/
}

.tab-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.tab-button:disabled, .tab-button[disabled] {
    background-color: var(--color-tagbg);
}

.tab-button:focus-visible {
    box-shadow: none;
}

.disabled {
    display: none;
}

.bottom-nav {
    margin-top: 2%;
    margin-bottom: 2%;
}

.arrow {
    font-size: 16px;
    font-weight: bold;
}

.navbutton {
  background-color: var(--color-bg);
  border: 0;
  color: var(--color-text);
  border-radius: .5rem;
  border: var(--color-buttonborderthickness) solid var(--color-text);
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 6px 14px;
  text-align: center;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbutton:hover {
  background-color: var(--color-tagbg); /*rgb(239, 239, 239);*/
}

.navbutton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.navbutton:disabled, .navbutton[disabled] {
  background-color: var(--color-tagbg);
}

.navbutton:focus-visible {
  box-shadow: none;
}

@media screen and (max-width: 900px) {
    body { 
        font-family:Arial, Helvetica, sans-serif;
        margin: 2%;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 4%;
        margin-bottom: 4%;
        max-width:1000px;
        font-size:larger;
        color: var(--color-text);
    }

    .navbutton {
        font-size:medium;
    }
}

.table-link {
    color: var(--color-text);
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

th {
    white-space: nowrap;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    color: var(--color-text);
}

td {
    padding-bottom: 1%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: var(--color-text);
}

td:last-child {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: var(--color-text);
}

.problem-table {
    font-size: 14pt; overflow-x: scroll; width: 100%; display: block; overflow-x: auto;
}

.bottom-text {
    text-align: center;
    padding: 10px;
    font-size: small;
    color: var(--color-text);
}

.bottom-text::selection { background: transparent; }
.bottom-text::-moz-selection { background: transparent; }

.page-bar {
    text-align: center;
    padding: 10px;
    font-size: medium;
    color: var(--color-text);
}

.page-bar-indicator {
    background-color: var(--color-bg);
    color: var(--color-text);
    /* border-radius: 1rem; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 0 solid var(--color-text);
    box-sizing: border-box;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.page-bar-button {
    background-color: var(--color-bg);
    color: var(--color-text);
    /* border-radius: 1rem; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 3px;
    margin-right: 3px;
    border: calc(var(--color-buttonborderthickness)/2) solid var(--color-text);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.page-bar-button:hover {
    background-color: var(--color-tagbg);
  }

.page-bar-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.page-bar-button:focus-visible {
    box-shadow: none;
}

.page-bar-move-button {
    background-color: var(--color-bg);
    color: var(--color-text);
    /* border-radius: 1rem; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 0 solid var(--color-text);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.page-bar-move-button:hover {
    background-color: var(--color-tagbg);
  }

.page-bar-move-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.page-bar-move-button:focus-visible {
    box-shadow: none;
}

.metadata {
    opacity: 0.0;
    font-size: 0;
}

.link-problem {
    color: var(--color-text);
}

.link-problem::selection { background: transparent; }
.link-problem::-moz-selection { background: transparent; }

.sort-icon {
    font-size: small;
    vertical-align: 2px;
}